cpi-ets @ git+https://github.com/KIT-IAI/CopyPasteImputation.git@6c46574023ceb03f1965eb5786a13065fef72ec3
esax @ git+https://github.com/KIT-IAI/eSAX.git@385b71497e73fbfad34e8aaecabe7776630e4e3b
holidays==0.24
matplotlib==3.5.1
mizani==0.9.0
numpy==1.21.6
pandas==1.4.1
pyod==1.0.1
pytest==7.0.1
pywatts @ git+https://github.com/KIT-IAI/pyWATTS@0033549cc52a6f8d8c53ce7c1e2cf12c33926b52
# pywatts-pipeline @ git+https://github.com/KIT-IAI/pywatts-pipeline/@a383fbcecee45f13945dd038e5b0ea93b021ab17
pywatts-pipeline @ git+https://github.com/KIT-IAI/pywatts-pipeline/@main
scikit-learn==1.0.2
seaborn==0.12.2
workalendar==16.3.0
xgboost==1.7.1
